@import 'tailwindcss';

@theme {
	/* Backgrounds */
	--color-main-bg: #1a202c; /* rgb(17, 24, 39) */
	--color-sidebar-bg: #111827; /* rgb(23, 31, 47) */
	--color-divider: #374151; /* rgb(55, 65, 81) */
	--color-header-search-bg: #374151; /* rgb(41, 51, 66) */
	--color-task-card-bg: #1f2937; /* rgb(29, 40, 56) */

	/* Typography */
	--color-logo: #e2e8f0; /* rgb(249, 250, 251) */
	--color-heading: #e2e8f0; /* rgb(243, 244, 246) */
	--color-body: #9ca3af; /* rgb(156, 163, 175) */
	--color-active-menu: #e2e8f0; /* rgb(255, 255, 255) */
	--color-inactive-menu: #6b7280; /* rgb(156, 163, 175) */
	--color-sort-btn-text: #e5e7eb; /* rgb(229, 231, 235) */

	/* Buttons */
	--color-btn-bg: #2563eb; /* rgb(79, 70, 229) */
	--color-btn-text: #ffffff; /* rgb(255, 255, 255) */
	--color-btn-focus: #6366f1; /* rgb(99, 102, 241) */
	--color-sort-btn-bg: #374151; /* rgb(55, 65, 81) */
	--color-generic-btn-hover: #374151; /* rgb(79, 70, 229) */
	--color-generic-btn-focus: #364153; /* rgb(79, 70, 229) */

	/* Checkbox */
	--color-checkbox-border: #4b5563; /* rgb(75, 85, 99) */
	--color-checkbox-checked: #2563eb; /* rgb(79, 70, 229) */
	--color-checkbox-icon: #ffffff; /* rgb(255, 255, 255) */

	/* Icons */
	--color-icon: #6b7280; /* rgb(107, 114, 128) */

	/* Tags & Badges */
	--color-tag-work-bg: #3b82f61a; /* rgba(59, 130, 246, 0.1) */
	--color-tag-work-text: #60a5fa; /* rgb(96, 165, 250) */
	--color-tag-high-bg: #818cf81a; /* rgba(129, 140, 248, 0.1) */
	--color-tag-high-text: #a5b4fc; /* rgb(165, 180, 252) */
	--color-tag-side-bg: #34d3991a; /* rgba(52, 211, 153, 0.1) */
	--color-tag-side-text: #34d399; /* rgb(52, 211, 153) */
	--color-tag-medium-bg: #fbbf241a; /* rgba(251, 191, 36, 0.1) */
	--color-tag-medium-text: #fbbf24; /* rgb(251, 191, 36) */
}
